.message-list {
  display: inline;
  text-align: center;
  padding: 80px;
}
.user {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  color: #40b3c1;
}
.content {
  display:inline;
  font-weight: bold;
}
.time-sent {
  display: inline;
  padding-left: 20px;
}
#add-message {
  margin-top: 400px;
  float: left;
  padding-left: 300px;
}

#add-message .textInput {
  padding-bottom: 30px;
  padding-right: 120px;
  margin-bottom: 10px;
  display: block;
}
#add-message .send-button {
  float: left;
  padding-left: 300px;
}
.message-list #create-message {
  display: inline;
  margin-top: 30px;
}
