@import url('https://fonts.googleapis.com/css?family=Montserrat');


html {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: inline;
}
.room-name-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 20px;
  background-color: #ACBDBA;
  border: 0px;
  cursor: pointer;
}

.remove-btn {
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.room-btn {
  background-color: #ACBDBA;
  padding: 10px;
  width: 122%;
  margin-bottom: -39px;
  margin-left: -50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}
.sidebar {
  padding-top: 20px;
  height: 100vh;
  width: 20%;
  background-color: #CDDDDD;
  border: 1px solid #ACBDBA;
  position: fixed;
}
.sidebar h1 {
  display: inline;
  color: grey;
  padding-top: 30px;
  padding-left: 30px;
  font-family: 'Montserrat', sans-serif;
  z-index: 0;
}
.room-list {
  list-style-type: none;
  padding: 10px;
}
.room-list li {
  color: white;
  padding: 20px;
  padding-left: 35px;
}
#add-room {
  padding-top: 20px;
  padding-left: 15px;
  margin-right: 25px;
}

#add-room .textInput {
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
}
.textInput {
  font-family: 'Montserrat', sans-serif;
}

.newroom {
  font-family: 'Montserrat', sans-serif;
}
.delete-room {
  background-color: #ACBDBA;
  color: white;
  font-size: 15px;
  font-weight: bold;
  display: inline;
  float: right;
  border: 0px;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
}
.delete-room:hover {

}
